*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 969px;
}

.principal_cadastro{
    background-color: #FFFFFF;
    width: 17%;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}

.logo_instadev{
    width: 50%;
    color: black;
}

.textos_cadastros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_cadastro{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 550;
    color: #909090;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

input{
    width: 16vw;
    height: 19px;
    background-color: #FAFAFA;
    color: #AFAFAF;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: normal;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    padding: 7px;
}

button{
    background-color: #2686CC;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    height: 32.8167px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: normal;
}

.textos_termo{
    height: 10%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 300;
    color: #909090;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_conectar_conta{
    margin-top: 15px;
    width: 19.1%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.div_conectar_conta p{
    font-weight: normal;
}

.div_conectar_conta a{
    font-weight: 600;
    color:#2686CC;
}

.obtenha_aplicativo{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: normal;
    color: #353535;
    margin-top: 35px;
    margin-bottom: 35px;
}

.lojas_aplicativo img{
    width: 8.5vw;
}

@media (max-width: 1420px){

    main{
        height: 657px;
    }

    .principal_cadastro{
        
        width: 20%;
        height: 60%;
        padding: 20px;
    }

    form{
        height: 31vh;
    }

    input{
        width: 19vw;
    }

    button{
        height: 4.5vh;
    }

    .textos_termo{
        width: 23.1vw;
        font-size: 13px;
        font-weight: 300;
    }

    .div_conectar_conta{
        width: 23%;
    }

    .obtenha_aplicativo{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 420px){

    body{
        height: 657px;
    };

    main{
        height: 657px;
    }

    .principal_cadastro{
        margin-top: 30px;
        margin-bottom: 10px;
        width: 70%;
        height: 65%;
    }

    .logo_instadev{
        margin-top: 10px;
    }

    .texto_cadastro{
        font-size: 15px;
    }

    form{
        height: 195.9px;
    }

    button{
        height: 29.3833px;
    }

    input{
        width: 60vw;
    }

    .textos_termo{
        width: 63vw;
        margin-bottom: 10px;
    }

    .div_conectar_conta{
        width: 80%;
    }

    .obtenha_aplicativo{
        font-size: 15px;
    }

    .lojas_aplicativo img{
        width: 31.5vw;
        margin-bottom: 30px;
    }

}