<div class="container-erro">
            <div class="box-container-erro">

                <div class="erro"> <h1>404</h1></div>
                
                <div class="texto-erro">
                    <div class="box-info">
                        <div class="foto">Dev</div>
                        <div class="info-user">
                            <h3>InstaDev</h3>
                            <h4>Global </h3>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="info-erro">
                            Erro: Desculpe, a página buscada não foi encontrado
                        </div>
                    <div class="interacoes">
                        <div class="botoes">
                            <button class="icon-coracao">
                                <img src="assets/coracao.svg" alt="">
                            </button>
                            <button class="icon-comentario">
                                <img src="assets/comentario.svg" alt="">
                            </button>
                        </div>
                        <h4>1954 curtidas</h4>
                    </div>
                    <br>
                    
                    <div class="ver-comentario">
                        <a>Ver todos os comentários</a>
                    </div>
                </div>
            </div>

        </div>
