@model Usuario
@{
    ViewData["Title"] = "Login";
}

<section class="container_login">

    <img class="logo" src="~/assets/Instadev.png" alt="logo_instadev">
    <form method="POST" action='@Url.Action("Logar")'>


        <input type="email" placeholder="Email" name="Email" required>
        <input type="password" placeholder="Senha" name="Senha" required>

        <span class="erro">@TempData.Peek("Mensagem")</span>

        <button type="submit">Entrar</button>

    </form>

    <div class="div_ou">

        <hr>
        <p>OU</p>
        <hr>

    </div>

    <a class="esqueceu_senha" href="">Esqueceu a senha?</a>

</section>

<div class="container_fazer_cadastro">

    <p>Não tem uma conta? </p>
    <a asp-area="" asp-controller="Cadastro" asp-action="Index"> Cadastre-se</a>

</div>

<p class="p_App">Obtenha o aplicativo.</p>
<div>

    <img src="~/assets/app_store_1.png" alt="AppStore">
    <img src="~/assets/google_play_1.png" alt="PlayStore">

</div>