:root {
    --azul: #515BD4;
    --roxo: #8134AF;
    --rosa: #DD2A7B;
    --amarelo: #FEDA77;
    --laranja: #F58529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #E5E5E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    height: min-content;
}

li {
    height: min-content;
}

a {
    text-decoration: none;
}

.grid {
    width: 80vw;
    max-width: 940px;

    margin: 0 auto;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.block {
    display: block;
}

.header {
    height: 53px;
    background-color: white;
}

.container_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_header {
    width: 78px;
    height: 27px;
}

.pesquisar {
    background: #FAFAFA;

    border: 1px solid black;

    height: 28px;
    width: 215px;

    text-align: center;;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 27%;

    flex-grow: unset;
}

.icons_header {
    height: min-content;
}

/* SECTION STATUS */

main {
    background-color: #E5E5E5;
}

.container_main {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;


}

.section_status {
    margin-top: 24px;

    height: 113px;
    max-width: 610px;
    width: 100%;

    background-color: #ffff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 2px #F1F1F1 solid;
}

.container_status {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.posicionador_status {
    width: 100%;
    display: flex;
}

.perfil_status {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 75px;
}

.link_status {
    width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomes {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;

    color: black;
}

.perfil {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 32px;
}

.foto_perfil {
    display: flex;
    align-items: center;
}

.texto_perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user {
    font-weight: 650;
    font-size: 16px;
    color: black;
}

.nome {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    color: #B6B6B6;

}

/* POSTA */

.posicionador_postar {
    display: flex;
}

.postar {
    width: 100%;
    max-width: 610px;
    height: 186px;
    margin-top: 38px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    border: 2px #F1F1F1 solid;
}

.centralizador_postar {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_postar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 135px;
}

.container_postar span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.form_post {
    display: flex;
    justify-content: space-between;
}

.imgdesc_input {
    width: 231px;
    height: 27px;

    background: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 5px;

    text-align: center;
}

.img_input {
    width: 157px;
    height: 27px;

    background: #D1D1D1;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #7D7D7D;

    cursor: pointer;
}

.btn_postar {
    width: 140px;
    height: 27px;

    background: #2686CC;
    border-radius: 5px;
    border: 0;

    color: white;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    cursor: pointer;
}

/* POST */

.posicionador_post {
    display: flex;
}

.post {
    margin-top: 38px;

    height: 610px;
    width: 100%;
    max-width: 610px;
    background-color: white;

    border: 1px #F1F1F1 solid;
}

.posicionador_post_perfil {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centralizador_perfil_post {
    width: 95%;
}

.foto_perfil_post {
    width: 34px;
    height: 36px;
}

.perfil_post {
    width: 119px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nome_perfil_post {
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome_post {
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: black;    
}

.onde_post {
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: black;
}

.post_img {
    width: 100%;
}

.acoes_post {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.comentario_input {
    width: 100%;
    max-width: 220px;
    color: #AFAFAF;
    border: 0;
    border-bottom: 1px #AFAFAF solid;
}

.posicionador_acoes_post {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centralizador_coments {
    margin-top: 10px;
    width: 95%;
}

.curtidas {
    display: block;
    margin-top: 5px;
}

.comentarios {
    margin-top: 10px;
    display: flex;
}

.comment {
    margin-left: 10px;
}

@media (max-width: 1030px) {

    .perfil {
        display: none;
    }
    
    .posicionador_status {
        justify-content: center;
    }

    .posicionador_postar {
        justify-content: center;
    }

    .posicionador_post {
        justify-content: center;
    }
}

@media (max-width: 753px) {
    .pesquisa_form {
        display: none;
    }

    .nav_header {
        width: 50%;
    }

    .p7 {
        display: none;
    }
}

@media (max-width: 590px) {
    .form_post {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 575px) {
    .p6 {
        display: none;
    }

}

@media (max-width: 465px) {
    .nav_header {
        width: 65%;
    }

    .p5 {
        display: none;
    }
}

@media (max-width: 390px) {
    .comentario_input {
        width: 70%;
    }

    .p4 {
        display: none;
    }
}